* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* Workspaces */
#workspaces {
    /*background-color: #203254;*/
    background-color: rgba(32, 50, 84, 0.8);
    margin: 3px;
    margin-right: 20px;
    padding-left: 2px;
    padding-right: 2px;
    /* margin-bottom: -2px; */
    border: 2px white solid;
    border-radius: 69px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: transparent;
}

#workspaces button {
    background-color: #DED2E8;
    padding: 0px 4px;
    margin: 4px 3px;
    border-radius: 69px;
    border: none;
    transition: all 0.3s ease-in-out;
    color: transparent;
    font-size: 0px;
}

#workspaces button.active {
    color: transparent;
    background: #4478C3;
    border-radius: 69px;
    border: none;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    font-size: 0px;
}

/* #workspaces button:hover { */
/* 	background: #0383C0; */
/* 	border: none; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* Workspaces */

#window {
	background-color: rgba(0, 0, 0, 1);
	border: 2px #060728 double;
	border-radius: 69px;
	margin: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

#temp_power_profile {
	border: 2px white solid;
	border-radius: 69px;
	margin: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

#sysinfo {
	/* background-color: #DED2E8; */
	background-color: rgba(0, 0, 0, 0.2);
	/* color: #191F22; */
	color: #ffffff;
	border: 2px white solid;
	border-radius: 69px;
	margin: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

#backlight_battery {
	/*background-color: #203254;*/
	background-color: rgba(32, 50, 84, 0.8);
	padding: 3px;
	color: #ff0000;
	border: 2px #060728 double;
	border-radius: 69px;
	margin: 3px;
	margin-right: 10px;
}

window#waybar {
    /*background-color: rgba(43, 48, 59, 0.5);*/
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
    /*transition-property: background-color;*/
    border: none;
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.0);
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(0, 0, 0, 0.0);
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,

#clock {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border: 2px white solid;
    border-radius: 69px;
    margin: 3px;
}

#battery {
    /*background-color: #ffffff;*/
    color: #ffffff;
    margin-right: 10px;
}

#battery.charging, #battery.plugged {
    color: #26A65B;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: rgba(0, 0, 0, 0.0);
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 5px;
    padding-left: 5px;
}

#power-profiles-daemon.performance {
    color: #f53c3c;
}

#power-profiles-daemon.balanced {
    color: #2980b9;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

label:focus {
    background-color: #000000;
    opacity: 0.5;
}

#cpu {
    /*background-color: #2ecc71;*/
    /* opacity: 1.0; */
    color: #191F22;
    color: #ffffff;
}

#memory {
    /*background-color: #9b59b6;*/
    /* color: #191F22; */
    color: #ffffff;
}

#disk {
    /*background-color: #964B00;*/
    /* color: #191F22; */
    color: #ffffff;
}

#backlight {
    /*background-color: #90b1b1;*/
    margin: 0px;
    color: #DED2E8;
}

#network {
   /*background-color: #2980b9;*/
}

#network.disconnected {
    /*background-color: #f53c3c;*/
}

#pulseaudio {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border: 2px white solid;
	border-radius: 69px;
    margin: 3px;
    transition-duration: 5s;
}

#pulseaudio.muted {
    /*background-color: #90b1b1;*/
    color: #ffffff;
}

#wireplumber {
    /*background-color: #fff0f5;*/
    color: #ffffff;
}

#wireplumber.muted {
    /*background-color: #f53c3c;*/
}

#custom-media {
    /*background-color: #66cc99;*/
    color: #ffffff;
    min-width: 100px;
}

#custom-media.custom-spotify {
    /*background-color: #66cc99;*/
}

#custom-media.custom-vlc {
    /*background-color: #ffa000;*/
}

#temperature {
    color: #f0932b;
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    border-bottom: 5px white solid;
    /* border-top: 5px white solid; */
    border-left: 5px transparent solid;
    border-right: 5px transparent solid;
    border-radius: 69px;
    margin: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    /*background-color: #2d3436;*/
}

#idle_inhibitor.activated {
    /*background-color: #ecf0f1;*/
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    /*background: #00b093;*/
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0px;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#power_box {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 0px;
	padding-top: 4px;
	padding-left: 5px;
	padding-right: 0px;
	margin: 5px;
	margin-right: 8px;
	margin-left: 2px;
	border: 2px #2756A5 solid;
	border-radius: 69px;
}

/*Where is the power css*/
#power {
	color: blue;
}
