@import url("../waybar/color.css");

* {
	background-image: none;
	box-shadow: none;
	font-size: 24px;
	color: #EBDBB2;
	transition: 0.2s;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 25px;
    margin: 10px;
	padding-top: 60px;
	/*border-color: @outline1;*/
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	/*background-color: @background1;*/
	border-style: solid;
	border-width: 5px;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focused, button:active, button:hover {
	background-color: @background2;
	border-color: @outline2;
	outline-style: none;
	border-radius: 69px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    margin: 50px;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
    margin: 50px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    margin: 50px;
}
