@import url("../waybar/color.css");

* {
	background-image: none;
	box-shadow: none;
	font-size: 24px;
	color: #EBDBB2;
	transition: 0.5s;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 1px;
    margin: 10px;
	padding-top: 60px;
	/*border-color: @outline1;*/
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	/*background-color: @background1;*/
	border-style: solid;
	border-width: 5px;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focused, button:active, button:hover {
	background-color: @background2;
	border-color: @outline2;
	outline-style: none;
	border-radius: 16px;
	background-size: 28%;
}

#lock
{
	background-image: image(url("icons/lock.png"));
}
#lock:hover
{
	background-image: image(url("icons/lock-hover.png"));
}

#logout
{
	background-image: image(url("icons/logout.png"));
}
#logout:hover
{
	background-image: image(url("icons/logout-hover.png"));
}

#shutdown
{
	background-image: image(url("icons/power.png"));
}
#shutdown:hover
{
	background-image: image(url("icons/power-hover.png"));
}

#reboot
{
	background-image: image(url("icons/restart.png"));
}
#reboot:hover
{
	background-image: image(url("icons/restart-hover.png"));
}

#suspend
{
	background-image: image(url("icons/sleep.png"));
}
#suspend:hover
{
	background-image: image(url("icons/sleep-hover.png"));
}

#hibernate
{
	background-image: image(url("icons/hibernate.png"));
}
#hibernate:hover
{
	background-image: image(url("icons/hibernate-hover.png"));
}
